hr.solid {
    border-top: 8px solid #000000;
    margin: 2.5%;
}

body {
    font-family: "EB Garamond", serif;
    background-image: url('banneru.jpg');
    background-repeat: no-repeat;
    background-position: top;
    position:relative;
    background-size:cover;
}

.topnav a {
    color:#000000;
    padding: 2%;
}

.topnav {
    text-align: center;
}
