hr.solid {
    border-top: 8px solid #000000;
    margin: 2.5%;
}

body {
    font-family: "EB Garamond", serif;
    background-image: url('banner.JPG');
    background-repeat: no-repeat;
}

.topnav a {
    color:#000000;
    padding: 2%;
}

.topnav {
    text-align: center;
}
